@model CustomerViewModel



<h1>Клієнти</h1>
<form method="get" class="customers-form">
    <div class="form-group">
        <div class="form-search">
            @Html.DropDownList("searchType", (IEnumerable<SelectListItem>)ViewBag.SearchTypes, new { @class = "form-select" })
            <input id="searchValue" name="searchValue" value="@Model.SearchValue" class="form-control" />
            <button type="submit" class="btn btn-primary">Пошук</button>
        </div>
        <div class="form-choose">
            @Html.DropDownList("status", (IEnumerable<SelectListItem>)ViewBag.CustomersStatus, new {onchange = "this.form.submit();", @class = "form-select"  })
            @Html.DropDownList("pageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizeOptions, new { onchange = "this.form.submit();", @class = "form-select"  })
            <div class="out-of-form-buttons d-flex justify-content-between" style="width:100%;">
                <div>
                    <a asp-controller="Admin" asp-action="Customers" type="button" class="btn btn-secondary" style="color:white; font-weight:700;">Відновити список</a>            
                </div>
                <div>
                    <a asp-controller="Admin" asp-action="CreateCustomer" type="button" class="btn btn-success" style="color:white; font-weight:700;">Створити клієнта</a>
                </div>
            </div>
        </div>              
    </div>
</form>



@*<form method="get">
    @Html.DropDownList("pageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizeOptions, new { onchange = "this.form.submit();" })
</form>*@
<div style="max-height: 80%;">
    <table class="table  border-secondary" id="customerTable">
        <tr>
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                Адреса
            </th>
            <th>
                Номер телефону
            </th>
            <th>
                Площа
            </th>
        </tr>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.Area м&sup2</td>
                <td >
                    <form asp-controller="Admin" asp-action="CustomerDetails" method="get" asp-route-id="@item.Id" class="d-flex justify-content-center">
                        <input type="submit" value="Детальніше" class="btn btn-info" style="color:white; font-weight:700; " >
                    </form>
                </td>
            </tr>
        }
    </table>
</div>

<div style="display:flex; justify-content:center;">
    @if (Model.Pager.TotalPages > 1)
    {
        <div style="width:150px;">
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.Pager.CurrentPage <= 1 ? "disabled" : "")">
                    <a class="page-link" asp-controller="Admin" asp-action="Customers" asp-route-pg="@(Model.Pager.CurrentPage - 1)" asp-route-pageSize="@Model.Pager.PageSize" asp-route-searchValue="@Model.SearchValue">Попередня</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="pagination justify-content-center">
                @if (Model.Pager.CurrentPage > 6)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Admin" asp-action="Customers" asp-route-pg="1" asp-route-pageSize="@Model.Pager.PageSize" asp-route-searchValue="@Model.SearchValue">1</a>
                    </li>
                }
                @if (Model.Pager.CurrentPage > 7)
                {
                    <li class="page-item" style="margin-right:5px; margin-left:5px;">
                        <p style="margin-top:10px;"> . . . </p>
                    </li>
                }
                @for (var pge = Model.Pager.StartPage; pge <= Model.Pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-controller="Admin" asp-action="Customers" asp-route-pg="@pge" asp-route-pageSize="@Model.Pager.PageSize" asp-route-searchValue="@Model.SearchValue">@pge</a>
                    </li>
                }
                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages - 5 && Model.Pager.TotalPages > 10)
                {
                    <li class="page-item" style="margin-right:5px; margin-left:5px;">
                        <p style="margin-top:10px;"> . . . </p>
                    </li>
                }
                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages - 4 && Model.Pager.TotalPages > 10)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Admin" asp-action="Customers" asp-route-pg="@(Model.Pager.TotalPages)" asp-route-pageSize="@Model.Pager.PageSize" asp-route-searchValue="@Model.SearchValue">@(Model.Pager.TotalPages)</a>
                    </li>
                }
            </ul>
        </div>
        <div>
            <ul class="pagination justify-content-center">
                <li class="page-item @(Model.Pager.CurrentPage == Model.Pager.TotalPages ? "disabled" : "")">
                    <a class="page-link" asp-controller="Admin" asp-action="Customers" asp-route-pg="@(Model.Pager.CurrentPage + 1)" asp-route-pageSize="@Model.Pager.PageSize" asp-route-searchValue="@Model.SearchValue">Наступна</a>
                </li>
            </ul>
        </div>
    }
</div>
<link href="~/css/customers.css" rel="stylesheet" />